@media only screen and (max-width: 640px) {
    body {
      background-color: lightblue;
    }

    section{
        font: normal 10pt Arial;
        width: 140px;

        top: 65%;
        left: 30%;
    }

    .box.enter{
        top: 80%;
    
        color: #FAFAFF;
        background: #252022;
        font-size: 24px;
        height: 70px;
        line-height: 24px;
        border-radius: 15%;
    }

    
  }